<style>
body{
  background-color: white;
}
</style>

<!-- display nav-->
<div ng-include="'com/dist/ng/views/components/nav_plain.html'"></div>
<!-- /display nav-->
  
  <form ng-submit="login()">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <center><img src="com/dist/img/max.jpg"></center><br>
        <div class="row input-field">
          <div class="col s3"></div>
          <div class="col s3"><input id="email" type="email" ng-model="loginOBJ.email" placeholder="email"></div>
          <div class="col s3"><input id="password" type="password" ng-model="loginOBJ.password" placeholder="password"></div>
          <div class="col s3"></div>
        </div>

      <div class="row center" ng-if="loading">
        <div ng-include="'com/dist/ng/views/components/small_loader_sms.html'"></div>
      </div>

      <div class="row center">
        <a type="submit" ng-click="login()" class="btn-large waves-effect waves-light light-blue lighten-1">Login</a>
      </div>
      <br><br>

    </div>
  </div>
    </form>