
<div class="row">
    <div class="col s6">
        
    </div>

    <div ng-if="0" class="col s6">
        <center>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn light-blue lighten-1' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
                Select Brand
            </a>
            
        </center>
        <!-- Dropdown Structure -->
        <ul id='demoDropdown' class='dropdown-content'>
            <li><a class="orange-text" href="javascript:void(0);">Tigo</a></li>
            <li><a class="orange-text" href="javascript:void(0);">Dawasco</a></li>
            <li><a class="orange-text" href="javascript:void(0);">Airtel</a></li>
            <li><a class="orange-text" href="javascript:void(0);">Zuku</a></li>
            <li><a class="orange-text" href="javascript:void(0);">Voda</a></li>
        </ul>

    </div>

</div>


<div class="row">
    <div class="col s3"></div>
    <div class="col s6">
         <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="KEY" ng-change="searchKey(KEY)" id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix"><img ng-if="1" ng-src="com/dist/img/icons/magnifier.png">&nbsp<!--Search Key--></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col s3"> <br><br><br><br><span class="grey-text" ng-if="results_status">{{ results_msg }}</span></div>
</div>

<div class="row">
    <div class="col s12">
            <center>
                 <ul>
                    <li ng-repeat="res in resOBJ" repeat-done="initModals()">
                        <a ui-sref="app.terminal_id({ tid : res.id })" class="orange-text">
                            <img ng-src="com/dist/img/icons/pc_3.png">&nbsp&nbsp{{ res.id }}
                            &nbsp&nbsp - &nbsp&nbsp
                            <e class="blue-text">{{ res.retailer_name }}</e>
                        </a><br>
                        &nbsp&nbsp&nbsp&nbsp {{ res.ip }} - <span ng-if="res.active">Active</span><span ng-if="!res.active">inActive</span>
                        <br> 

                    </li>
                    
                </ul>
            </center>
            
    </div>
</div>