
    <div ng-if="0" class="row">
        <center><img ng-src="com/dist/img/com_back1.png"></center>
        <center><h5 class="green-text">Welcome to Commission App</h5></center>
    </div>

    <div class="row">
        <div class="col s1"></div>
        <div class="col s10" style="align:right;">
        	<img ng-src="com/dist/img/xyz.png">
        </div>
        <div class="col s1"></div>
    </div>


    <div class="row" style="padding-top:0px;">
        <div class="col s1"></div>
        <div class="col s10">
            <center>
            <div ng-click="getServices()" class="card light-blue lighten-4">
                <div class="card-content orange-text" ng-init="basic_view = 0">
                    <span class="card-title black-text">
                  

                        <a xng-click="basic_view == 1 ? basic_view = 0 : basic_view = 1"><img ng-src="com/dist/img/icons/setting.png"></a>&nbsp&nbsp
                        <b>ALL SERVICES</b>
                    </span>
                </div>
            </div>
            </center>
            <center>
            <div ng-click="getTerminals()"  class="card orange lighten-4">
                <div class="card-content orange-text" ng-init="basic_view = 0">
                    <span class="card-title black-text">
                  

                        <a xng-click="basic_view == 1 ? basic_view = 0 : basic_view = 1"><img ng-src="com/dist/img/icons/plus.png"></a>&nbsp&nbsp
                        <b>TERMINALS &nbsp &nbsp</b>
                    </span>
                </div>
            </div>
            </center>
            <center>
            <div ng-click="getCalc()"  class="card green lighten-4">
                <div class="card-content orange-text" ng-init="basic_view = 0">
                    <span class="card-title black-text">
                  

                        <a xng-click="basic_view == 1 ? basic_view = 0 : basic_view = 1"><img ng-src="com/dist/img/icons/list_1.png"></a>&nbsp&nbsp
                        <b>CALCULATOR</b>
                    </span>
                </div>
            </div>
            </center>
        </div>
        <div class="col s1">
        </div>
    </div>




<script>
    



</script>








