
    <div class="row">
        <div class="col s12"><br><br><br><br><br>
            <center>

                 <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>

            </center>
            <center><h6 class="">{{ main_loader_status}}</h6></center><br>
            <center><a ng-click="refresh()" class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">replay</i></a></center><br><br>
        </div>
    </div>