  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" ui-sref="app" class="brand-logo"><img ng-src="com/dist/img/icons/cash_3.png">&nbsp&nbspCommission</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="logout()"><img ng-src="com/dist/img/icons/logout_2.png">&nbspLogout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a ui-sref="app">Home</a></li>
          <li><a ng-click="logout()"><img ng-src="com/dist/img/icons/logout_2.png">&nbspLogout</a></li>
      </ul>
      <a ui-sref="app" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>