<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a ui-sref="app" id="logo-container" class="brand-logo">Commission</a>
      <ul class="right hide-on-med-and-down">
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a ui-sref="app">Login</a></li>
          <li><a ng-click="logout">Logout</a></li>
      </ul>
      <a ui-sref="app" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
