

<div class="slider" slider>
    <ul class="slides">
        <li>
            <img ng-src="com/dist/img/sliders/1.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Meet Our Engineers</h3>
                <h5 class="light grey-text text-lighten-3">Mr Bony & da_grand</h5>
                <h4 class="light grey-text text-lighten-3">Coders,Engrs And Entreprenuers</h4>
            </div>
        </li>
        <li>
            <img ng-src="com/dist/img/sliders/2.jpg"><!-- random image -->
            <div class="caption left-align">
                <h3>Do u enjoy our service?</h3>
                <h5 class="light grey-text text-lighten-3">All the Commission Services with API ready</h5>
            </div>
        </li>
        <li>
                <img ng-src="com/dist/img/sliders/8.jpg"> <!-- random image -->
                <div class="caption right-align">
            <h3>Do u want more?</h3>
            <h5 class="light grey-text text-lighten-3">grand123grand1@gmail.com</h5>
            <h5 class="light grey-text text-lighten-3">bonymassele@gmail.com</h5>
            </div>
        </li>
        <li>
            <img ng-src="com/dist/img/sliders/4.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Work Hard</h3>
                <h5 class="light grey-text text-lighten-3">And pray much</h5>
            </div>
        </li>
        <li>
            <img ng-src="com/dist/img/sliders/6.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Knowledge</h3>
                <h5 class="light grey-text text-lighten-3">Best Easy Designs</h5>
                <h5 class="light grey-text text-lighten-3">Best Secured Backend</h5>
                <h6 class="light grey-text text-lighten-3">Relaxed API's</h6>
                <h6 class="light grey-text text-lighten-3">Last And Long Run Database Management</h6>
                <h6 class="light grey-text text-lighten-3">Chill!! We do all tests and bug fixings.</h6>
            </div>
        </li>
    </ul>
</div>

