<!--footer-->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer-heading">
                    <h3><span>about</span> us</h3>
                    <p>GetPesa is an online marketplace for personal finance products. GetPesa helps you compare different products such as loans and insurance. </p>
                    <p>GetPesa keeps you updated with all financial news and trends in the market through our business blog. We guarantee you the best market rates paper work free, thus our slogan “hassle free finance” </p>


                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-heading">
                    <h3><span>Quick</span> Links</h3>
                    <br>
                    <li><a href="http://getpesa.co.tz/blog/" target="_blank">Blog </a></li>
                    <li><a ui-sref="app.about_us">About Us</a></li>
                    <li><a ui-sref="app.contact_us">FAQ's</a></li>
                    <li><a ui-sref="app.contact_us">Contact Us </a></li>
                    <li><a ui-sref="app.contact_us">Terms & Conditions </a></li>
                    <li><a ui-sref="app.contact_us">Privacy Policy </a></li>


                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-heading">
                    <h3><span>Products</span> Comparisons</h3>
                    <br>
                    <li><a href="pg1_loans">Compare Personal Loans </a></li>
                    <li><a href="home">Compare Mortgages/Home Loans </a></li>
                    <li><a href="health-insurance">Compare Health Insurance </a></li>
                    <li><a href="car-insurance">Compare Motor Insurance </a></li>
                    <li><a href="pg1_loans">Compare Motor/Car Loans </a></li>
                    <li><a href="pg1_loans">Compare Unsecured Loans </a></li>

                </div>
            </div>

        </div>
    </div>
</div>