<!--bottom footer-->
<div id="bottom-footer" class="xhidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-left">
                    &copy; GetPesa.co.tz All rights reserved
                    <div class="credits">

                        GetPesa is a Product of <a href="https://104innovationstz.com/">104innovations (T) ltd</a>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="footer-right">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="pg1_loans">Loans</a></li>
                        <li><a href="health-insurance">Insurance</a></li>
                        <li><a href="http://getpesa.co.tz/blog/">News</a></li>
                        <li><a ui-sref="login_user">User Login</a></li>
                        <li><a ui-sref="login_user">Staff Login</a></li>
                    </ul>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>

<!--
            <center>
                <div class="offset3 span6" style="align: center;">
                    <div class="footer-center">
                        <ul class="list-unstyled list-inline pull-center>
                                <li class=" nav-item ">
								<a class="hvr-grow " class="nav-link " href="https://twitter.com/GetPesaTZ " target="_blank ">
								<i class="fa fa-twitter icon-round ">
								
								</i>
								</a>
								<a class="hvr-grow " class="nav-link " href="https://www.facebook.com/GetPesaTZ/ " target="_blank ">
								<i class="fa fa-facebook icon-round ">
								
								</i>
								</a>
								<a  class="hvr-grow " class="nav-link " href="https://www.instagram.com/getpesatz/ " target="_blank ">
								<i class="fa fa-instagram icon-round ">
								
								</i>
								</a>
								</li>
				                
                            </ul>
						</div>
					
					</div>
					</center>
				</div>
			</div>
		</div>

        -->