<div id="xabout-bg">

    <!--services wrapper-->
    <section class="service" style="background: #eee;">
        <div class="container text-center">
            <h2 style="color: #f37422"> Why Compare with Us?</h2>
            <br>
            <div class="row">
                <div class="service-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <a class="hvr-grow" href="#"><img class="img-circle" style="background:#f37422; margin-bottom:20px; width:150px;" src="dist/images/client/matching-algo-icon.svg" alt=" " /></a>
                        </div>
                        <h4>Matchmaking algorithm</h4>
                        <div class="text">GetPesa helps you find the best deals on any loan products from over 20+ institutions in Tanzania, including banks and microfinance institutions. </div>
                    </div>
                </div>

                <div class="service-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <a class="hvr-grow" href="#"><img class="img-circle" style="background:#f37422; margin-bottom:20px; width:150px;" src="dist/images/client/inprinciple-approval-icon.svg" alt=" " /></a>
                        </div>
                        <h4>Convenience and mobility</h4>
                        <div class="text">GetPesa can be easily accessed anywhere and on any device , this brings financial services to the palm of your hands. </div>
                    </div>
                </div>

                <div class="service-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <a class="hvr-grow" href="#"><img class="img-circle" style="background:#f37422; margin-bottom:20px; width:150px;" src="dist/images/client/e2e-icon.svg" alt=" " /></a>
                        </div>
                        <h4>End to end fulfillment</h4>
                        <div class="text">GetPesa offers the best of both worlds – marketplace for the customer to get choices (eligible) + an end to end fulfillment support just like any lender. </div>
                    </div>
                </div>

                <div class="service-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <a class="hvr-grow" href="#"><img class="img-circle" style="background:#f37422; margin-bottom:20px; width:150px;" src="dist/images/client/matching-algo-icon.svg" alt=" " /></a>
                        </div>
                        <h4>More Choice and Better Deals</h4>
                        <div class="text">Our Loan Specialists give you access to loans from over 20 Tanzanian Banks and micro-finance institutions </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>