<div class="table-responsive">
        <table ng-if="1" class="table table-striped">
                
                        <thead class="gp_table_header">
                            <th>PURPOSE</th>
                            <th>AMOUNT</th>
                            <th>BANK</th>
                            <th>EXTRA</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </thead>
        
                        <tr>
                            <td>Car</td>
                            <td>10000000</td>
                            <td>CRDB</td>
                            <td>new car </td>
                            <td><label class="warning"><span class="label label-default">Processing</span></label></td>
                            <td><a>cancel</a> | <a>more</a></td>
                        </tr>
                        <tr>
                                <td>House</td>
                                <td>50000000</td>
                                <td>NMB</td>
                                <td>new car </td>
                                <td><span class="label label-success">Completed</span></td>
                                <td><a>cancel</a> | <a>more</a></td>
                            </tr>
                
                
                
                
                
                    </table>
        </div>