<style>
    /*#about-bg {
        padding: 10px 0;
        background-image: url(dist/images/background1/loans_bg2.png);
        background-color: white;
    }*/
</style>
<style>
    /*#products-bg {
        height: 300px;
    }
    
    #products-bg-overlay {
        height: 300px;
    }*/
</style>

<div class="container">
    <div class="row">
        <!--about getpesa-->
        <div id="products-bg">
            <div id="products-bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="about-bg-heading">


                        <h2> About GetPesa</h2>
                        <p><small>GetPesa is an online marketplace for personal finance products . GetPesa helps you compare different products such as loans and insurance . GetPesa also keeps you updated with all financial news and trends in the market through our business blog , with GetPesa you are guaranteed the best rates in the market without the need of passing from bank to bank with tedious paperwork , hence our slogan “hassle free finance”</small></p>
                    </div>




                </div>
            </div>

        </div>
    </div>


    <div class="row" style="background-color:white;">
        <!--people getpesa-->
        <div id="about-bg">

            <!--services wrapper-->
            <section class="service">
                <div class="container text-center">
                    <h1 style="color: #f37422; text-decoration: underline;">Our Team</h1><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style=" margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/82.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Benjamin Edward</h4>
                                    <h5>QA Engineer at GetPesa</h5>
                                    <div class="text">With Four Years experience in software development, Benjamin is a crucial asset in Project implementation and Development as a back end developer. </div>
                                </div>
                            </div>

                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style=" margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/83.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Abel Mwalongo</h4>
                                    <h5>Project Design & Management</h5>
                                    <div class="text">Former Local Systems Admin at DTBi/DLi Project with skills as Front-End Developer, Systems analyst and Designer, Project Manager. </div>
                                </div>
                            </div>

                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style="margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/84.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Fredrick Angello</h4>
                                    <h5>Digital Media Specialist</h5>
                                    <div class="text">The Money making brain storming machine here at GetPesa. 4 years experience in the technology sales department arena. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style="margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/85.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Epiphania Muhaiki</h4>
                                    <h5>Customer Success Manager</h5>
                                    <div class="text">The Money making brain storming machine here at GetPesa. 4 years experience in the technology sales department arena. </div>
                                </div>
                            </div>
                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style="margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/86.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Wendy Mdemu</h4>
                                    <h5>Public Relations Officer</h5>
                                    <div class="text">The Money making brain storming machine here at GetPesa. 4 years experience in the technology sales department arena. </div>
                                </div>
                            </div>


                            <div class="service-block col-md-4">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <a class="cards" href="#"><img class="img-circle" style=" margin-bottom:20px; width: 185px;" src="https://randomuser.me/api/portraits/med/men/87.jpg" alt=" " /></a>
                                    </div>
                                    <h4>Kenny Misigaro</h4>
                                    <h5>Loans & Insurance Consultant</h5>
                                    <div class="text">Holder of a Bachelor Degree in Accounts, Kenny is responsible for all loans requests to succesful loans to ensure our customer the best services. </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
    </div>
</div>