<style>
    #products-bg {
        height: 300px;
    }
    
    #products-bg-overlay {
        height: 300px;
    }
</style>

<div class="container">
    <div class="row">
        <div id="products-bg">
            <div id="products-bg-overlay"></div>
            <h1>
                <center>Feel Free to Give us a Call. We are just a Call Away</center>
            </h1>
        </div>
    </div>

</div>


<!--about wrapper left-->
<div class="container" style="background-color:white;">



    <div class="row">
        <div class="col-xs-12 hidden-sm col-md-7">

            <div class="about-left">
                <br>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.9613007116445!2d39.239055814316835!3d-6.7745648951031265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4c26c9727895%3A0x6bdb52651a6755e4!2sGetpesa!5e0!3m2!1sen!2stz!4v1493107654218"
                        width="650" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>

        <!--about wrapper right-->
        <div class="col-xs-12 col-md-5">
            <div class="about-right">
                <div class="about-right-heading">
                    <h2>CONTACT US</h2>
                    <p>
                        <b>Our Office :</b>
                        <br>
                        <br> Getpesa Tanzania
                        <br>
                        <br> Office No. 6
                        <br>
                        <br> Third Floor
                        <br>
                        <br> COSTECH Building, Kijitonyama.
                        <br>
                        <br> Dar-es-Salaam, Tanzania.
                        <br>
                        <br> Mobile No : +255744895895 / 0769698183
                        <br>
                        <br> Email : pesa@getpesa.co.tz
                        <br>
                        <br>
                        <b>Business Hours :</b>
                        <br>
                        <br> MON-FRI : 8:30 AM - 6:00 PM
                        <br>
                        <br> SATURDAY : 9:00 AM - 1:00 PM
                        <br>
                        <br>

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>