<style>
    #products-bg {
        height: 300px;
    }
    
    #products-bg-overlay {
        height: 300px;
    }
</style>
<div class="container" style="background-color:white;">
    <div class="row">
        <div id="products-bg">
            <div id="products-bg-overlay"></div>
            <h1>
                <center>Privacy Policy. </center>
            </h1>
            <h2>
                <center>Your Privacy is of Vital Importance to Us. </center>
            </h2>
        </div>
    </div>


    <div class="row">
        <!--privacy getpesa-->
        <div id="xabout-bg">

            <div class="container">
                <div class="row">
                    <div class="about-bg-heading">
                        <div class="col-xs-12 col-sm-12 col-md-12">

                            <h1 style="font-size:30px; color: #f37422">About Our Privacy Policy. </h1>

                            <p>This privacy statement provides information about the personal information that getpesa.co.tz collects, and the ways in which GetPesa uses that personal information.</p>

                            <h2 style="font-size:30px; color: #f37422">Personal Information Collection. </h2>

                            <p>GetPesa may collect and use the following kinds of personal information:</p>
                            <center>
                                <ul style="font-family: 'Lato'; text-decoration: none;">
                                    <li style="font-family: lato;">
                                        <center>Information about the use of this website.</center>
                                    </li>
                                    <li>
                                        <center>Information that you provide for the purpose of subscribing to the website services (including the request quotes)</center>
                                    </li>
                                    <li>
                                        <center>any other information that you send to getpesa.co.tz</center>
                                    </li>
                                </ul>
                            </center>

                            <h2 style="font-size:30px; color: #f37422">Using Personal Information. </h2>

                            <p>GetPesa may use your personal information to:</p>
                            <center>
                                <ul style="font-family: 'Lato'; text-decoration: none;">
                                    <li style="font-family: lato;">
                                        <center>Administer this website</center>
                                    </li>
                                    <li>
                                        <center>personalize the website for you;</center>
                                    </li>
                                    <li>
                                        <center>enable your access to and use of the website services;</center>
                                    </li>
                                    <li>
                                        <center>send to you information that you request;</center>
                                    </li>
                                    <li>
                                        <center>supply to you services that you purchase;</center>
                                    </li>
                                    <li>
                                        <center>send to you statements and invoices;</center>
                                    </li>
                                    <li>
                                        <center>collect payments from you;</center>
                                    </li>
                                    <li>
                                        <center>send you marketing communications.</center>
                                    </li>
                                </ul>
                            </center>

                            <p>Where getpesa.co.tz discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the
                                terms of this privacy statement.</p>

                            <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, getpesa.co.tz may disclose your personal information to the extent that it is required to do so by law, in connection with any
                                legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>
                        </div>

                        <h2 style="font-size:30px; color: #f37422">Securing Your Data. </h2>
                        <p>getpesa.co.tz will take reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.</p>
                        <p>getpesa.co.tz will store all the personal information you provide on its secure servers.</p>
                        <p>Information relating to electronic transactions entered into via this website will be protected by encryption technology.</p>


                        <h2 style="font-size:30px; color: #f37422">Cross-border data transfers </h2>
                        <p>Information that getpesa.co.tz collects may be stored and processed in and transferred between any of the countries in which</p>
                        <p>getpesa.co.tz operates to enable the use of the information in accordance with this privacy policy.</p>
                        <p>You agree to such cross-border transfers of personal information.</p>

                        <h2 style="font-size:30px; color: #f37422">Updating this statement </h2>
                        <p>getpesa.co.tz may update this privacy policy by posting a new version on this website.</p>
                        <p>getpesa.co.tz may update this privacy policy by posting a new version on this website.</p>

                        <h2 style="font-size:30px; color: #f37422">Other Websites </h2>
                        <p>This website contains links to other websites.</p>
                        <p>getpesa.co.tz is not responsible for the privacy policies or practices of any third party.</p>

                        <h2 style="font-size:30px; color: #f37422">Contact Us </h2>
                        <p>If you have any questions regarding this Privacy Policy or how GetPesa uses your information, Feel free to e-mail us at <a href="https://pesa@getpesa.co.tz">pesa@getpesa.co.tz</a> </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>