

<div class="container" style="background-color:white;min-height:500px;padding:10px;">
    
    <div class="row" style="margin-top:50px;">
        <div class="col-xs-4">
                <h2><small></small></h2>
        </div>
        <div class="col-xs-4">
        	<center>
                <img src="dist/images/my_get_pesa.png" class="img-responsive" width="80" height="80">
            </center>
        </div>
        <div class="col-xs-4">
            
        </div>
    </div>
    
    
    <div class="row" style="margin-top:20px;">

        <center>
        	<span>Email</span>
        	<input type="" name="">
        	<button style="color:white;background-color: #f37422;">Send to Mail</button>
        </center>
    </div>

        
 </div>