<div class="container">
    <div class="row">

        <!--<div class="section-title">
					<h3> <center>Our Partners </center></h3>
				</div>
				-->

        <div class="carousel-client">
            <div class="slide"><img src="dist/images/client/new/AZANIA.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/BOA.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/CBA.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/DTB.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/EQUITY.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/FNB.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/NBC.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/STANDARD.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/TPB.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/jubilee_client.png"></div>
            <div class="slide"><img src="dist/images/client/new/alliance.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/bumaco.jpg"></div>
            <div class="slide"><img src="dist/images/client/new/heritage.png"></div>
            <div class="slide"><img src="dist/images/client/new/maxinsurance.gif"></div>
            <div class="slide"><img src="dist/images/client/new/milembe.png"></div>
            <div class="slide"><img src="dist/images/client/new/resolution.png"></div>
            <div class="slide"><img src="dist/images/client/new/sanlam.png"></div>
            <div class="slide"><img src="dist/images/client/new/uap.png"></div>

            <div class="slide"><img src="dist/images/client/new/FINCA.png"></div>

            <div class="slide"><img src="dist/images/client/new/UBA.png"></div>
            <div class="slide"><img src="dist/images/client/new/MAENDELEO.jpeg"></div>

        </div>
    </div>
</div>