<style>
    #products-bg {
        height: 300px;
    }
    
    #products-bg-overlay {
        height: 300px;
    }
</style>

<div class="container" style="background-color:white;">
    <div class="row">
        <div id="products-bg">
            <div id="products-bg-overlay"></div>
            <h1>
                <center>Thank you & Feel Free to Come back again.</center>
            </h1>
        </div>
    </div>



    <div ng-include="'./dist/ng/views/components/why_us.html'"></div>

</div>