<!-- content services cover -->
<div id="products-bg">
    <div id="products-bg-overlay"></div>

    <div class="cover"></div>

    <div id="" class="banner-only">

        <div class="container">

            <div class="rows text-center">

                <h2 class="autoText">
                    <center></center>
                </h2>
                <h3>
                    <center>Easy, Quick and Convenient.</center>
                </h3>
            </div>

            <div class="row" style="text-align: center;">


                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="pg1_loans.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/personal-icon.svg" alt="#" /></a><br><span>Personal Loan</span>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="home.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/home-icon.svg" alt="#" /></a><br><span>Mortgage/Home Loan</span>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="car-insurance.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/car-icon.svg" alt=" " /></a><br><span>Motor Insurance</span>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="pg1_loans.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/health-icon.svg" alt=" " /></a><br><span>Unsecured Loan </span>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="health-insurance.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/unsecured-icon.svg" alt=" " /></a><br><span>Health Insurance</span>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <a class="hvr-grow" href="pg1_loans.php"><img class="img-circle" style="background:#f37422; margin-bottom:20px;" src="dist/images/layout/car-icon.svg" alt=" " /></a><br><span>Motor/Car Loan</span>
                </div>

            </div>

        </div>

    </div>


</div>


<!-- /content services cover -->




















<!--
<section class="client">
    <div class="container">
        <div class="row">

            <!--<div class="section-title">
					<h3> <center>Our Partners </center></h3>
				</div>
				->

            <div class="carousel-client">
                <div class="slide"><img src="dist/images/client/new/AZANIA.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/BOA.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/CBA.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/DTB.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/EQUITY.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/FNB.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/NBC.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/STANDARD.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/TPB.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/jubilee_client.png"></div>
                <div class="slide"><img src="dist/images/client/new/alliance.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/bumaco.jpg"></div>
                <div class="slide"><img src="dist/images/client/new/heritage.png"></div>
                <div class="slide"><img src="dist/images/client/new/maxinsurance.gif"></div>
                <div class="slide"><img src="dist/images/client/new/milembe.png"></div>
                <div class="slide"><img src="dist/images/client/new/resolution.png"></div>
                <div class="slide"><img src="dist/images/client/new/sanlam.png"></div>
                <div class="slide"><img src="dist/images/client/new/uap.png"></div>

                <div class="slide"><img src="dist/images/client/new/FINCA.png"></div>

                <div class="slide"><img src="dist/images/client/new/UBA.png"></div>
                <div class="slide"><img src="dist/images/client/new/MAENDELEO.jpeg"></div>

            </div>
        </div>
    </div>
</section>
-->






<!--about getpesa-->
<div ng-include="'./dist/ng/views/components/why_us.html'"></div>

<!--detailed footer-->
<div ng-include="'./dist/ng/views/components/detail-footer.html'"></div>